<footer class="footer">
    <img src="/img/Loop logo_Blue.jpg" alt="Loop Logo" class="footer-logo">
    <p>Loop - Where fashion never ends</p>
    <p class="small">A Young Enterprise Project 2026</p>
</footer>
